.carousel {
    display: flex;

    max-width: 100%;
    height: $carousel-height;

    background-color: #ffffff;
    overflow: hidden;
}

.slide {
    display: flex;

    height: $carousel-height;

    animation: slideshow 10s linear infinite;

    align-items: center;

    &__image {
        width: auto;
        height: calc(100% - 30px);
        margin: 0 30px;
    }

    &--stop {
        animation: none;
    }
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
