.header {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: $carousel-height;

  background-color: #cccccc;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
